/* banner-area css */
.banner-bg{
    background: #264653;
}
button{
    background: #E76F51;
}

/* feature-bike css */
.header-txt{
    color: #E76F51;
    font-weight: 600;
}
.feature-img img{
    filter: grayscale(1);
}
.feature-img img:hover{
    filter: grayscale(0);
}
/* latest area css */
.latest-btn{
   color: #E76F51;
   border-color: #E76F51;
   background: white;
   border-radius: 0.3125rem;
}
.latest-btn:hover{
    color: white;
    background: #E76F51;
}
/* client says css */
.client-says{
    color: #E76F51;
}
/* question css */
.accordion-body p {
	color: #7E848C;
}
.accordion-item h2 button {
	font-size: 1.25rem;
}
/* footer area */
.footer-text{
    text-decoration: none;
    list-style: none;
}
.footer-area{
    background: #0B0D17;
}
/* work proccess css */
.work-proccess-area{
    
}
.proccess-icon i{
    color: #E76F51
}
.proccess:hover .proccess-icon i{
    background: #E76F51;
    transition: 1s;
    color: white;
}
